<mat-sidenav-container class="example-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpened">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Accueil</a>
      <a mat-list-item routerLink="/autre">Autre lien</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <!-- Bouton pour ouvrir/fermer la sidebar -->
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ isSidenavOpened ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span>{{ titre }}</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-button routerLink="/home">Accueil</button>
      <button mat-button routerLink="/autre">Autre</button>
      <button mat-icon-button aria-label="Profil utilisateur" (click)="logout()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Contenu -->
    <div style="padding: 16px;">
      <h1>Bienvenue dans {{ titre }}</h1>
      <button mat-raised-button color="primary" (click)="genererDonneesDeTest()">
        PEUPLER BD AVEC DONNEES DE TEST
      </button>
      <!-- On va afficher le composant correspondant à la route active -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>